<style type="text/css">
    .page{
        position: relative;
        width: 100%;
        max-width: 640px;
        min-width: 320px;
    }

    .bgImg{
        display: inline-block;
        max-width: 100%;
        width: 100%;
    }

    .btn1{
        position: absolute;
        top: 66%;
        left: 50%;
        width: 64%;
        margin-left: -32%;
    }

</style>

<body style="margin:0;background-color:#6ecbb9;">
<div class="page">
  <img class="bgImg" src="<%= asset_path("1bg.jpg") %>" border="0">
  <a href="<%= get_oauth_url(@mid) %>">
    <img class="btn1" src="<%= asset_path("1btn.png") %>" border="0">
  </a>
</div>

</body>
