<style type="text/css">
    .page{
        position: relative;
        width: 100%;
        max-width: 640px;
        min-width: 320px;
    }

    .bgImg{
        display: inline-block;
        max-width: 100%;
        width: 100%;
    }

    .activeTime{
        background-color: #6ecbb9;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        height: 3%;
        left: 22%;
        position: absolute;
        top: 28.5%;
        width: 70%;

    }

    @media screen and (max-width: 480px){
        .activeTime{
            font-size:12px;
        }
    }
</style>


<body style="margin:0;background-color:#6ecbb9;" >
<div class="page">
  <img class="bgImg" src="<%= asset_path("10bg.jpg") %>"/>
  <div class="activeTime">2014年9月25日起至2014年9月30日</div>
</div>
</body>
