<style type="text/css">
    .page{
        position: relative;
        width: 100%;
        max-width: 640px;
        min-width: 320px;
    }

    .bgImg{
        display: inline-block;
        max-width: 100%;
        width: 100%;
    }

    .winningInfo{
        height: 42%;
        position: absolute;
        top: 40%;
        width: 100%;
        background-color: #6ecbb9;
        color: #fff;
        font-size: 28px;
        /*border: 1px solid #000;*/
    }

    @media screen and (max-width: 480px){
        .winningInfo{
            font-size:16px;
        }
    }

    .item{
        height: 7%;
        margin-bottom: 1%;
    }
    #phone{
        margin-right: 4%;
    }

    .gift{
        color: #d0a972;
    }

    .displayNone{
        display: none;
    }
</style>

<body style="margin:0px;background-color:#6ecbb9;text-align:center;" >
<div class="page">
  <img class="bgImg" src="<%= asset_path("14bg.jpg") %>"/>
  <div class="winningInfo" id="winningInfo">
    <% @award_records.each do |r| %>
        <div id="template" class="item displayNone" style="display: block;">
          <span id="iphone"><%= r.mobile %></span>
          <spa>
            获得
            <span class="gift"><%= r.award.name%></span>
          </spa>
        </div>
    <% end%>

  </div>
</div>
</body>
