<style type="text/css">
    .page{
        position: relative;
        width: 100%;
        max-width: 640px;
        min-width: 320px;
    }

    .bgImg{
        display: inline-block;
        max-width: 100%;
        width: 100%;
    }
</style>

<body style="margin:0;background-color:#44554f;" >
<div class="page">
  <img class="bgImg" src="<%= asset_path('9bg.jpg') %>"/>
</div>
</body>
