<!DOCTYPE html>
<html>
<head>
  <title>瑞宏新城-璟庭</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
  <meta content="telephone=no" name="format-detection">
  <meta content="max-age=1" http-equiv="Cache-Control">
</head>
<body>

<%= yield %>

</body>
</html>
